.open-menu {
    position: relative;
    display: inline-block;
    width: 23px;
    height: 22px;
    background: #81b3d2;
    border: none;
}
.open-menu:before {
    position: absolute;
    content:'';
    background: #fff;
    height: 5px;
    width: inherit;
    top: 4px;
    left: 0px;
}
.open-menu:after {
    position: absolute;
    content:'';
    background: #fff;
    height: 5px;
    width: inherit;
    top: 13px;
    left: 0px;
}
