/***colors****/

@white:	#fff;
@black: #000;
@blue: #81b3d2;
@grey: #eee;
@light-grey: f2f2f2;
@brown: #766357;

@border-top: #9ac2db;
@border-bottom: #678fa8;


/********fonts*********/


@font-size: 14px;
@line-height: 24px;
@font-weight: 400;
@font-weight-bold: 700;


@font-size-h1: 18px;
@line-height-h1: 26px;

@font-size-h2: @font-size-h1;
@line-height-h2: @line-height-h1;


@dir: "../img/";


/*************media queries*****************/

@mobile: ~"(max-width: 480px)";
@tablet: ~"(min-width: 480px)";
@descktop: ~"(min-width: 1200px)";


