.logo {
	position: relative;
	max-height: 56px;
	text-align: center;
	transition: margin-top ease .5s;
	margin-top: -222px;

	&__link {
		z-index: 100;
	}
	
	@media @tablet, @descktop {
		position: absolute;
		top: 0;
		right: 50%;
		margin-top: 0;
		margin-right: -69px;
		z-index: 100;
	}
}
