.mobile-nav {
	position: relative;
	margin: 0;
	padding: 0;
	font-weight: @font-weight-bold;
	font-size: @font-size-h1;
	line-height: @line-height-h1;
	background-color: @blue;
	display: block;
	top: -222px;
	transition:  top ease .5s;

	&__list {
		margin: 0;
		padding: 0;

	}

	&__item {
		list-style:none;
		text-align: center;
		border-top: 1px solid @border-top;
		border-bottom: 1px solid @border-bottom;

		&:nth-child(2) {

			@media @tablet, @descktop {
				margin-right: 20%;
			}
		}

		a {
			cursor: pointer;
			color: @white;
			width: 100%;
			text-decoration: none;
			padding: 14px 0;
			box-sizing: border-box;
			display: inline-block;

			@media @mobile {
					&:hover {
						background-color: @blue_2;
					}
					&:active {
						background-color: @blue_3;
					}
			}
			@media @tablet, @descktop {
				color: @black;
				line-height: @line-height-h1;
			}
		}

		&:first-of-type {
			border-top: none;
		}

		&:last-of-type {
			border-bottom: none;
			background-image: url("@{dir}shadow-ul.png");
			background-position: 0 100%;
			background-repeat: no-repeat;
			background-size: 100%;

			@media @tablet, @descktop {
				background-image: none;
			}
		}

		@media @tablet, @descktop {
			display: inline-block;
			vertical-align: middle;
			width:20%;
			height: 100%;
			border: none;

		}
	}

	&--visible {
		top: 0;
	}
	&--visible+.logo {
		margin-top: 0;
	}

	@media @tablet, @descktop {
		top: 0;
		background-color: @white;
	}
}


@media @tablet, @descktop {
	.mobile-nav {
		a {
			&:hover {
				color: @blue;
			}
			&:active {
				color: @light-grey;
			}
		}
	}
}