.promo-image {
	height: 391px;
	background-color: @blue;
	background: url("@{dir}mask-top.png") 50% 100%,
				url("@{dir}main-bg.jpg");
	background-repeat: no-repeat;
	background-size: 100%, cover;

	img {
		margin-top: 47px;
		background-repeat: no-repeat;
	}

	@media @tablet {
		height: 432px;
		background: url("@{dir}bg-mask.png") 50% 100%,
					url("@{dir}photo-background@1x.jpg");
		background-repeat: no-repeat;
		background-size: 100%, cover;
	}
}

.promo-block {
	padding: 0 30px;
	background: @white;
	color: @black;

	&__title {
		margin-top:38px;
		margin-bottom: 29px;
	}

	@media @tablet {
		padding: 0 115px;
	}
}
