.search {
	padding: 0 20px;
	padding-top: 7px;

	@media @tablet {
		padding: 32px 130px;
		padding-bottom: 0;
	}

	&__header {
		font-size: 21px;
		line-height: @line-height-h1;
		font-weight: 700;
	}

	&__text {
		margin-bottom: 24px;
	}
}

.search-block {
		position: relative;
		z-index: 1;
		width: 100%;
		box-shadow: 0 7px 15px -3px rgba(0, 1, 1, .15);

		@media @tablet {
			display: none;
			width: 50%;
			min-width: 459px;
			height: 295px;
			position: absolute;
			margin: 0 auto;
			left: 0;
			right: 0;
			background-color: @white;
			padding: 50px 55px;
		}

		/*@media @tablet {
			width: 30%;
		}*/
	
	&--visible {
		@media @tablet {
			display: block;
		}
	}

}

.search-form {
	
	font-weight: 700;
	//box-shadow: 0 7px 15px -3px rgba(0, 1, 1, .15);
	padding: 25px 0;
	width: 280px;
	margin: 0 auto;
	text-align: left;

	@media @tablet {
		width: 459px;
		padding: 0;
	}

	label {
		display: inline-block;
		width: 100%;
		padding-left: 15px;
		margin-bottom: 8px;

		@media @tablet {
			padding: 0;
			width: 113px;
		}
	}

	&__date {
		position: relative;
		padding-left: 15px;
		padding-top: 3px;
		padding-bottom: 6px;	
		padding-right: 35px;
		margin-bottom: 25px;
		width: 81%;
		background: #f2f2f2 url("@{dir}sprite_search.png") no-repeat 98% -200px;
		line-height: 26px;
		text-transform: uppercase;
		border: solid 2px #f2f2f2;
		outline: none;

		@media @tablet {
			padding: 2px 35px 4px 15px;
			margin-bottom: 30px;
			height: 26px;
			width: 285px;
		}
	}

	&__left-column,
	&__right-column {
		width: 116px;
		display: inline-block;
		vertical-align: middle;

	}
	&__left-column {
		float: left;

		@media @tablet {
			width: 245px;
		}
	}
	&__right-column {
		float: right;

		@media @tablet {
			width: 195px;
		}

		& label {
			@media @tablet {
				width: 62px;
			}
		}
	}

	
	&__count {
	position: relative;
	margin-bottom: 30px;
	.size(34px, 32px);
	background-color: #f2f2f2;
	line-height: 26px;
	border: solid 2px #f2f2f2;
	outline: none;
	text-align: center;
	}
}